@mixin border($color,$grosor,$estilo){
	border: $color $grosor $estilo;
}

section{
	div{
		height: 150px;
		margin: 10px auto;
		width: 200px;
	}

	div.box1{
		@include border(red, 2px, solid)
	}
	div.box2{
		@include border(green, 4px, dotted)
	}
	div.box3{
		@include border(blue, 1px, dashed)
	}
}