- var authorised = false
- var user = { description: 'Lorem Ipsum Dolor' }
article#user 
  if authorised
    h2.green Description 
    p.description= user.description 
  else 
    h2.red Description 
    p.description User has no description