doctype html
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// HEREDAR LA ESTRUCTURA BASICA DE UN DOCUMENTO HTML 5
// - - - - - - - - - - - - - - - - - - - - - - - - - -
html(lang="en")
  head
    meta(charset="UTF-8")
    | 	
    title  CARDIO 
    | 	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Normalize
    link(rel="stylesheet", type="text/css", href="css/normalize.css")
    // Bootstrap
    link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    // Owl
    link(rel="stylesheet", type="text/css", href="css/owl.css")
    // Animate.css
    link(rel="stylesheet", type="text/css", href="css/animate.css")
    // Font Awesome
    link(rel="stylesheet", type="text/css", href="fonts/font-awesome/font-awesome.min.css")
    // Elegant Icons
    link(rel="stylesheet", type="text/css", href="fonts/eleganticons/et-icons.css")
    // Main style
    link(rel="stylesheet", type="text/css", href="css/cardio.css")
  body
    // Scripts
    script(src="js/jquery-1.11.1.min.js")
    | 	
    script(src="js/owl.carousel.min.js")
    | 	
    script(src="js/bootstrap.min.js")
    | 	
    script(src="js/jquery.onepagenav.js")
    | 	
    script(src="js/main.js")
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// CREAR EL SIGUIENTE MENU CON UN MIXIN (3 parametros)
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// CREAR EL SIGUIENTE BLOQUE USANDO VARIABLES/CONDICIONALES
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// CREAR EL SIGUIENTE BLOQUE CON UN CICLO
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - -
// INCLUIR EL SIGUIENTE BLOQUE DESDE UN ARCHIVO EXTERNO
// - - - - - - - - - - - - - - - - - - - - - - - - - -
